#nav {
  background-color: #252627;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  width: 100%vw;
}

#nav > a {
  color: #c6ca53;
  text-decoration: none;
}

#nav > a:hover {
  font-weight: bolder;
}

@media only screen and (max-width: 800px) {
  #nav {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  #nav {
    font-size: 14px;
  }
}

@media only screen and (max-width: 400px) {
  #nav {
    font-size: 10px;
  }
}
