#footer {
  background-color: #252627;
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

#footer > sub {
  color: #c6ca53;
}
